body::before {
  display: block;
  content: '';
  height: 60px;
}
.mapouter {
  position: relative;
  text-align: right;
  height: 100%;
  width: 100%;
  border: 1px solid #dddd;
  border-radius: 10px;
}
@media (min-width: 768px) {
  .news-letter-input {
    width: 50%;
  }
}
